<div class="column is-one-third-desktop is-offset-one-third has-text-right">
    <h1 class="title">
        Devoured
    </h1>

    <div class="column is-10 is-offset-2">
        {{#each devoured}}
            <div class="box">
                <p class="heading">{{Burger.name}}</p>
            </div>
        {{/each}}
    </div>
</div>
