<div class="column is-one-third-desktop">
    <h1 class="title">
        To Be Devoured
    </h1>
    {{#each notDevoured}}
        <div class="box">
            <div class="level">
                <div class="level-item left-align">
                    <span class="heading">{{Burger.name}}</span>
                </div>
                <div class="level-item right-align">
                    {{> eat/eat-btn}}
                    {{> del-from-order-btn}}
                </div>
            </div>
        </div>
    {{/each}}
</div>
