<div class="columns">
    <div class="column is-6">
        <div class="columns is-multiline box">
            {{#each orders}}
                <div class="column is-6">
                    <div class="box">
                        {{Burger.name}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
