<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat DA Burger</title>
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="public/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    {{> nav}}
    {{{body}}}

    {{> create-modal}}

    <script src="scripts/jquery.min.js"></script>
    <script type="text/javascript">
        $('body').on('click', '#modal-btn', (e) => {
            e.preventDefault();
            $('#create-modal').toggleClass('is-active');
        });

        $('body').on('click', '#close-modal', (e) => {
            e.preventDefault();
            $('#create-modal').toggleClass('is-active');
        });
    </script>
</body>
</html>
