<div class="panel menu-item">
    <div class="panel-heading">
        {{this.name}} {{> menu/burgers/del-burger}}
    </div>
    <div class="panel-block">
        {{this.description}}
    </div>
    <div class="panel-block flex">
        {{> menu/burgers/add-burger}}
    </div>
</div>
