{{#each burgers}}

    <div class="column is-4">
        {{> menu/burgers/burger}}
    </div>

{{/each}}

<div class="column is-4">
    <div id="modal-btn" class="has-text-centered">
        <span class="add-sign">+</span>
    </div>
</div>
