<form class="" action="/new" method="POST">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" name="name" type="text" placeholder="Mushroom Burger">
        </div>
    </div>

    <div class="field">
        <label class="label">Description</label>
        <div class="control">
            <textarea class="textarea" name="description" rows="8" cols="80" placeholder="It has mushrooms..."></textarea>
        </div>
    </div>
    <button type="submit" name="submit-btn" class="button is-primary">Submit To Menu</button>
</form>
